.title{
    font-weight: bold;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

header{
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 9px;
}

html{
    background-color: rgb(219, 201, 236);
    width: 500px;
}

fieldset{
    background-color: rgb(185, 145, 223);
    border-radius: 5px;
    
}

legend{
    background-color: rgb(157, 96, 214);
    color: aliceblue;
    border-style: dotted;
    border-radius: 5px;
}

.item{
    background-color: rgb(231, 220, 241);
}

.button:hover{
background-color: rgb(123, 18, 221);
color: rgb(247, 247, 247);
}

option:hover{
    background-color: rgb(226, 43, 165);
}

option:checked{
    background-color: rgb(219, 137, 192);
}

textarea{
    resize: none;
}

.button{
    background-color: rgb(60, 3, 114);
    color: azure;
    width: 220px;
    height: 45px;
    font-size: 13px;
    border-radius: 7px;
}

.buttons{
    display: flex;
    justify-content:space-between;
}
